.main-video-container {
  color: #fff;
}

.main-video-container video {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.profile-img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img {
  background-image: url("images/DSCN0096.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
align-content: flex-end;
}

.black-background {
  background: black;
}

.video-background {
  background-image: url("https://media.giphy.com/media/U4FkC2VqpeNRHjTDQ5/giphy.mp4");
  background-repeat: no-repeat;
}

.skills-title {
  margin: 0 100%;
}

.skills-title::after {
  content: "Things I Know";
}

.container {
  max-width: 500px;

  padding: 50px 30px;
}

.container-intro {
    width: 100%;
    max-width: none;
}

.main-intro-container img {
  z-index: -1;
  /* position: relative; */
  height: auto;
}

.mini-title {
  font-size: medium;
  color: grey;
  font-feature-settings: "pcap", "c2pc";
  font-variant-caps: all-petite-caps;
}

.section-title {
  text-align: center;
  font-feature-settings: "pcap", "c2pc";
  font-variant-caps: all-petite-caps;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.name {
  font-size: x-large;
  font-weight: bold;
  text-decoration: underline;
}

.description {
  font-size: medium;
}

.nav-intro-links {
  color: #f00946;
}

.nav-intro-links:hover {
  color: #f00946;
}

.main-video-container .row {
  flex-wrap: nowrap;
  margin: 20px 40px;
}







/* .bar::before{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background: crimson;
} */
